divergences_distill/node_modules/
*auto/
notebooks/
*notes/
*.pyc
*__pycache__
*#
*.bib
*.fls
*.log
*.fdb_latexmk
*.aux
*.pdf
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gzn